{% extends "admin/base_site.html" %}
{% load i18n admin_urls static scoringengine_extras %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {{ title|truncatewords:"18" }}
</div>
{% endblock %}
{% endif %}

{% block content %}
  <div id="content-main">
    <div>To be able to successfully send POST request to API, use following headers and body payload</div>
    <h2><label for="headers">Request headers:</label></h2>
    <pre id="headers">
      {% for header in headers %}
{{ header }}
      {% endfor %}
    </pre>
    <h2><label for="payload">Request body payload:</label></h2>
    <pre id="payload">{{ payload | pretty_json }}</pre>
  </div>
{% endblock %}
